---
import BaseHead from '../components/Head/BaseHead.astro';
import Nav from '../components/Nav.astro';
import HomeHeader from '../components/HomeHeader.astro';
import Card from '../components/Card.astro';
import Footer from '../components/Footer/Footer.astro';
import HomeHeading2 from '../components/HomeHeading2.astro';
import HomeHeading3 from '../components/HomeHeading3.astro';

interface MarkdownFrontmatter {
  date: number;
}

let title = 'Daniele DAmico';
let description = 'Questo è il mio sito web';
let seoDescription = 'Questo è il sito web di Daniele DAmico';

let allPosts = Astro.fetchContent<MarkdownFrontmatter>('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());

let featuredPosts = Astro.fetchContent<MarkdownFrontmatter>('./featured/*.md');
featuredPosts = featuredPosts.sort((a, b) => new Date(b.date).valueOf() - new Date(a.date).valueOf());
---

<html lang="en">
  <head>
    <BaseHead title={title} description={seoDescription} />
  </head>

  <body class="bg-black font-body leading-normal personality-casual text-yellow">
    <Nav />

    <main class="py-12 lg:py-20 bg-black">
      <article class="max-w-6xl mx-auto px-3">
      <HomeHeader title={title} description={description} class="hero-pattern"/>
        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8 bg-yellow second-block" data-test="articles-section">
        <HomeHeading2 title=(heading2) description=(description2) />
          {featuredPosts.slice(0, 6).map(p => <div class="col-span-1 border-black border-4 mx-4"><Card post={p} /></div>)}
          <a
        href="/featured"
        class="mr-8"
        data-test="see-all-link"
        >
        Vuoi di più?<span class="squiggle">&rarr;</span>
      </a>
        </section>
  
        <section class="flex space-x-8 justify-center text-xl pt-8 font-bold">
      <a
        href="/featured"
        class="mr-8"
        data-test="see-all-link"
        >
        Vuoi di più?<span class="squiggle">&rarr;</span>
      </a>
    </section>

      <HomeHeading3 title=(heading3) />
        <section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8" data-test="articles-section">
          {allPosts.slice(0, 6).map(p => <div class="col-span-1"><Card post={p} /></div>)}
        </section>
      </article>
    </main>
    
    <section class="flex space-x-8 justify-center text-xl pt-8 font-bold">
      <a
        href="/posts"
        class="mr-8"
        data-test="see-all-link"
        >
        See All<span class="squiggle">&rarr;</span>
      </a>
    </section>

    <Footer />
  </body>
</html>
