---
import { format, parseISO } from 'date-fns/fp'
  
export interface Props {
  post: any;
}

const { post } = Astro.props;
---

<a href={post.url}
  class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-xl shadow-white/25 hover:shadow-xl bg-white border.yellow text-black rounded-xl overflow-hidden"
  data-test="article-card"
>

  <div width="360" height="192"> 
    <img class="squiggle px-8 pt-6" src={post.hero} alt={post.title}>
  </div>
  <div class="py-6 px-4">
    <h2 class="font-bold text-2xl leading-tight mb-4">
      {post.title}
    </h2>
      <span class="text-base bg-black text-yellow inline-block px-4">
        {post.tags}
      </span>
    <p class="text-base text-black mt-4 flex items-center">
      {post.description}
    </p>
  </div>
</a>